.product-list {
  list-style-type: none;
  margin: 0;
}

.product-container {
    padding: 2rem 3rem 0 0;
    position: relative;
    border: 1px solid #EFEFEF;
    margin: 10px 0;
    margin-right: 500px;

    

  &:hover {
    box-shadow: 0 0 5px rgba(50,50,50,0.3);
  }

  .product_image {
    max-height: 250px;
  }

  .product_price {
    //float: right;
   // margin-top: 1rem;
   padding-right: 40px;
  }


  div.row{
    position: static;
    //align-content: center;
    margin-left: 50px;
    margin-right: 0px;
    margin-block-end: 10%;
    height: 300px;
    width :100px;


 
  }


  

  // intro.h3 {
  //   margin-left: 30px;
  // }
  .buttonContent{
margin-left: 441px;
margin-bottom: 104px;
margin-top: -65px;
}


  .buttonContentMargin{

    margin-top:-81px;
    margin-bottom:104px;
  }


  .productContent{
    margin-left: 276px;
    margin-bottom: 0px;
    margin-top: -145px;
  }
}
